@import "./reset";
@import "./themes/dark";
@import "./themes/light";
@import "./variables/globals";

body {
	color: var(--primary-color);

	font: var(--font-m);
}

.app {
	min-height: 100vh;

	background-color: var(--bg-color);
}

.content {
	display: flex;
}