@import "./reset";
@import "./themes/dark";
@import "./themes/light";
@import "./variables/globals";

body {
	color: var(--primary-color);

	font: var(--font-m);
}

.app {
	min-height: 100vh;

	background-color: var(--bg-color);
}

*::-webkit-scrollbar {
	width: 12px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
	border: 2px solid var(--primary-color);
	border-radius: 20px;
	background-color: var(--inverted-primary-color);
}
