@import "./reset";
@import "./themes/dark";
@import "./themes/light";
@import "./variables/globals";

body {
	color: var(--primary-color);

	font: var(--font-m);
}

.app {
	min-height: 100vh;

	background-color: var(--bg-color);
}

.content {
	display: flex;
}

.page-wrapper {
	overflow-y: auto;
	flex-grow: 1;

	width: 100%;

	height: calc(100vh - var(--navbar-height));
	padding: 20px;
}
