.mock {
	color: var(--primary-color);
}

.mock.dark {
	--bg-color: #090949;
	--inverted-bg-color: #E8E8EA;
	--primary-color: #049604;
	--secondary-color: #04FF04;
	--inverted-primary-color: #041C65;
	--inverted-secondary-color: #0449E0;
}

.mock.light {
	--bg-color: #E8E8EA;
	--inverted-bg-color: #090949;
	--primary-color: #041C65;
	--secondary-color: #0449E0;
	--inverted-primary-color: #049604;
	--inverted-secondary-color: #04FF04;
}
