.Button {
	cursor: pointer;
	transition: 0.2s linear all;

	&:hover {
		opacity: 0.7;
	}
}

.Button:disabled {
	cursor: not-allowed;

	opacity: 0.5;
}

.clear,
.clearInverted {
	margin: 0;
	padding: 0;

	color: var(--primary-color);

	border: none;
	outline: none;
	background: none;
}

.clearInverted {
	color: var(--inverted-primary-color);
}

.outline {
	padding: 10px;

	color: var(--primary-color);

	border: 1px solid var(--primary-color);
	background: none;
}

.primary {
	color: var(--primary-color);
}

.size_m {
	font: var(--font-m);
}

.size_l {
	font: var(--font-l);
}

.outline_err {
	padding: 10px;

	color: var(--red-dark);

	border: 1px solid var(--red-dark);
	background: none;
}
