.Sidebar {
	position: relative;

	display: flex;
	align-items: center;
	flex-direction: column;

	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));
	padding: 0 30px;

	transition: all 0.3s ease-in-out;

	background: var(--inverted-bg-color);
}

.swithers {
	position: absolute;
	bottom: 20px;

	display: flex;

	justify-content: center;

	width: 100%;

	gap: 10px;
}

.links {
	display: flex;
	flex-direction: column;

	width: 100%;
	margin-top: 30px;
	gap: 15px;
}

.link {
	position: relative;

	width: 100%;

	span {
		position: absolute;
		top: 0;
		left: 30px;

		display: block;

		transition: all 0.3s ease-in-out;
	}
}

.icon {
	fill: var(--inverted-primary-color);
}

.hamburger {
	display: flex;
	flex-direction: column;

	width: 35px;
	padding: 5px;

	border: 2px solid var(--inverted-primary-color);
	background: none;
	row-gap: 5px;

	.line {
		display: block;

		width: 100%;
		height: 3px;

		transition: all 0.3s ease-in-out;

		background-color: var(--inverted-primary-color);
	}
}

.hamburger.is-active .line:nth-child(2) {
	opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}

.collapsed {
	width: var(--sidebar-width-collapsed);

	.swithers {
		flex-direction: column;
	}

	.link {
		span {
			visibility: hidden;

			transform: translate(0);

			opacity: 0;
		}
	}
}
