.Sidebar {
	position: relative;

	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));

	transition: 0.2s all linear;

	background: var(--inverted-bg-color);
}

.collapsed {
	width: var(--sidebar-width-collapsed);
}

.swithers {
	position: absolute;
	bottom: 20px;

	display: flex;
	column-gap: 10px;

	justify-content: center;

	width: 100%;
}
