.wrapper {
	position: relative;
}

.Input {
	display: block;

	width: 100%;
	padding: 10px 0;

	color: inherit;
	border: none;
	border-bottom: 1px solid var(--primary-color);
	outline: none;
	background: none;
}

.label {
	position: absolute;
	top: 7px;
	left: 16px;

	transition: 0.2s ease all;
	pointer-events: none;

	color: var(--secondary-color);
}

.upper {
	top: -50%;
	left: 0;

	font-size: 12px;
}

.editable {
	animation: pulse 1s infinite linear;
}

@keyframes pulse {
	0% {
		transform: scale(0.98);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.98);
	}
}
