.btn {
	column-gap: 20px;

	display: flex;
	align-items: center;
}

.arrow {
	transition: 0.2s linear all;
	transform: rotate(90deg);
}

.opened {
	.arrow {
		transform: rotate(270deg);
	}
}

.options {
	z-index: 100000;

	overflow-y: auto;

	background: var(--listbox-bg);
}

.item {
	padding: 5px;

	cursor: pointer;
}

.active {
	color: var(--primary-color);
	background: var(--bg-color);
}

.disabled {
	cursor: default;

	opacity: 0.8;
}
