body.dark {
	--bg-color: #090949;
	--inverted-bg-color: #E8E8EA;
	--primary-color: #049604;
	--secondary-color: #04FF04;
	--inverted-primary-color: #041C65;
	--inverted-secondary-color: #0449E0;

	// skeleton
	--skeleton-color: #1515AD;
	--skeleton-shadow: #2B2BE8;

	// code
	--code-bg: #1212A1;
}
