body.light {
	--bg-color: #E8E8EA;
	--inverted-bg-color: #090949;
	--primary-color: #041C65;
	--secondary-color: #0449E0;
	--inverted-primary-color: #049604;
	--inverted-secondary-color: #04FF04;

	// skeleton
	--skeleton-color: rgb(255 255 255);
	--skeleton-shadow: rgba(0 0 0 / 20%);

	// code
	--code-bg: #FFF;

	// card
	--card-bg: #D5D5D7;

	// listbox
	--listbox-bg: #D5D5D7;

	// dropdown
	--dropdown-bg: #D5D5D7;
}
